<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head data-th-replace="fragments/common::head"></head>
    <body>
    	<nav data-th-replace="fragments/common::menu"></nav>
    	<h3>8. MASUKAN DATA TRANSAKSI TANGGAL 8</h3>
    	<form data-th-action="@{/report/step/8}" method="post">
    		<table style="width: 65%;border: none;">
    		<tbody>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day1"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day2"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day3"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day4"/></td>
    		</tr>
			<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day5"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day6"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day7"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day8"/></td>
    		</tr>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day9"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day10"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day11"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day12"/></td>
    		</tr>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day13"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day14"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day15"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day16"/></td>
    		</tr>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day17"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day18"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day19"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day20"/></td>
    		</tr>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day21"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day22"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day23"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day24"/></td>
    		</tr>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day25"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day26"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day27"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day28"/></td>
    		</tr>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day29"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day30"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day31"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day31"/></td>
    		</tr>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day33"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day34"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day35"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day36"/></td>
    		</tr>
    		<tr>
    			<td><input type="number" class="form-control input-sm" value="0" name="day37"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day38"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day39"/></td>
    			<td><input type="number" class="form-control input-sm" value="0" name="day40"/></td>
    		</tr>
    		</tbody>
    		<tfoot>
    		<tr><td><input class="btn btn-primary" type="submit" value="Simpan & Masukan Tanggal Selanjutnya"/></td></tr>
    		</tfoot>
    		</table>
    	</form>
    </body>
</html>