<!DOCTYPE html>
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head data-th-replace="fragments/common::head"></head>
    <body>
    	<nav data-th-replace="fragments/common::menu"></nav>
		<h3>1. MASUKAN PENGELUARAN BULANAN</h3>
   		<br/>
   		<form data-th-action="@{/report/step/0}" method="post">
			<table style="border:none;width: 65%;padding: 3px;">
			<tbody>
			<tr>
				<td>
					<select id="month" name="month" class="form-control input-sm">
		    			<option value="JANUARY" selected="selected">JANUARY</option>
		    			<option value="FEBRUARY">FEBRUARY</option>
		    			<option value="MARCH">MARCH</option>
		    			<option value="APRIL">APRIL</option>
		    			<option value="MAY">MAY</option>
		    			<option value="JUNE">JUNE</option>
		    			<option value="JULY">JULY</option>
		    			<option value="AUGUST">AUGUST</option>
		    			<option value="SEPTEMBER">SEPTEMBER</option>
		    			<option value="OCTOBER">OCTOBER</option>
		    			<option value="NOVEMBER">NOVEMBER</option>
		    			<option value="DECEMBER">DECEMBER</option>
   					</select>
				</td>
				<td><input id="year" name="year" type="number" class="form-control input-sm" value="2018"/></td>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td><input id="monthly-expense" name="monthly" type="number" class="form-control input-sm" value="0" placeholder="Pengeluaran bulanan"/></td>
				<td colspan="3">&nbsp;</td>
			</tr>
			<tr>
				<td><input placeholder="Pengeluaran tanggal 1" name="expense1" type="number" class="form-control input-sm" value="0"/></td>
				<td><input placeholder="Pengeluaran tanggal 2" name="expense2" type="number" class="form-control input-sm" value="0"/></td>
				<td><input placeholder="Pengeluaran tanggal 3" name="expense3" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 4" name="expense4" type="number" class="form-control input-sm" value="0"  /></td>
			</tr>
			<tr>
				<td><input placeholder="Pengeluaran tanggal 5" name="expense5" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 6" name="expense6" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 7" name="expense7" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 8" name="expense8" type="number" class="form-control input-sm" value="0"  /></td>
			</tr>
			<tr>
				<td><input placeholder="Pengeluaran tanggal 9" name="expense9" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 10" name="expense10" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 11" name="expense11" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 12" name="expense12" type="number" class="form-control input-sm" value="0"  /></td>
			</tr>
			<tr>
				<td><input placeholder="Pengeluaran tanggal 13" name="expense13" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 14" name="expense14" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 15" name="expense15" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 16" name="expense16" type="number" class="form-control input-sm" value="0"  /></td>
			</tr>
			<tr>
				<td><input placeholder="Pengeluaran tanggal 17" name="expense17" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 18" name="expense18" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 19" name="expense19" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 20" name="expense20" type="number" class="form-control input-sm" value="0"  /></td>
			</tr>
			<tr>
				<td><input placeholder="Pengeluaran tanggal 21" name="expense21" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 22" name="expense22" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 23" name="expense23" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 24" name="expense24" type="number" class="form-control input-sm" value="0"  /></td>
			</tr>
			<tr>
				<td><input placeholder="Pengeluaran tanggal 25" name="expense25" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 26" name="expense26" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 27" name="expense27" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 28" name="expense28" type="number" class="form-control input-sm" value="0"  /></td>
			</tr>
			<tr>
				<td><input placeholder="Pengeluaran tanggal 29" name="expense29" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 30" name="expense30" type="number" class="form-control input-sm" value="0"  /></td>
				<td><input placeholder="Pengeluaran tanggal 31" name="expense31" type="number" class="form-control input-sm" value="0"  /></td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
			<tfoot>
			<tr><td><input class="btn btn-primary" type="submit" value="Simpan & Masukan Tanggal Selanjutnya"/></td></tr>
			</tfoot>
			</table>
  		</form>
    </body>
</html>